.signin{
    box-sizing: border-box;
    list-style-type: none;
    outline:none;
    text-decoration: none;
    border:none;
    font-weight: 400;
    font-size: 15px;
    margin: 0;

}

.container{
    margin-top:30%;
    border-radius:2px;
   
}
.card-header h2{
  font-size:27px;
}
.card-header{
    padding:13px;
    font-weight: 400;
    font-size: 18px;
}
label{
    padding:15px 0 10px;
}

.btn-primary{
    color:#ffff;
    padding:7px 15px;
    font-size: 17px;
    margin:15px 0 ;
}
.signin-inner{
    position:relative;
}
.alert{
    position:absolute;
    top: -112px;
    left: 0;
    right: 0;
    z-index: 1000;
}

  
 