<div class="col-md-5 m-auto signin">
    <div class="signin-inner">
        <app-alert *ngIf="username.touched && password.touched && (signInForm.get('username')?.value !== 'admin' || signInForm.get('password')?.value !== 'admin')" [color]="alertColor" class="alert">
            {{ alertMsg }}
        </app-alert>
        <form [formGroup]="signInForm" (ngSubmit)="onFormSubmit()" #form="ngForm">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Angular SignIn</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="username">USERNAME</label>
                            <app-input [control]="username" placeholder="username:admin" type="text"></app-input>
                        </div>
                        <div class="form-group">
                            <label for="password">PASSWORD</label>
                            <app-input [control]="password" placeholder="password:admin" type="password"></app-input>
                        </div>
                        <div class="singin-button text-center">
                            <button [disabled]="!form.valid" class="btn btn-primary" type="submit">SignIn</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>