.table-section{
    padding-top:10%;

}
th{
    width:10px;
}
td, th {  
    border: 1px solid #ddd;
    text-align: left;
    padding:12px;
}
.table {
    text-indent: 10px;
}
h2{
    margin:10px 0px;
}
a{
    text-decoration:none;
}
.contextMenu{
    display: grid;
    width: 30px;
}
