.table-section{
    padding-top:3%;
    font-size:14px;

}
th{
    max-width:10px;
}
td, th {  
    border: 1px solid #ddd;
    text-align: left;
    padding:14px;
}
.table {
    text-indent: 10px;
}
h2{
    margin:10px 0px;
}
a{
    text-decoration:none;
}
.contextMenu{
    border-radius:1; 
    border:1px solid lightgray;
    align-items:center;
}
.contextMenu a{
    border-bottom:1px solid lightgray;
}

.dropdown-item{
    padding:10px;
    coursor:pointer;
}
@media (max-widht: 1024px){
    .user-tables{
        overflow-x:scroll;
    }
}
  
 